<aside class="left-sidebar">
  <div class="widget">
    <h5 class="widgetheading"><%= t "tours.index.category" %></h5>
    <ul class="cat">
      <% @supports.categories.each do |category| %>
        <li><i class="fa fa-angle-right"></i>
          <%= link_to tag_path(category.name) do %>
            <%= category.name %>
          <% end %>
          <span>(<%= category.taggings_count %>)</span>
        </li>
      <% end %>
      <div>
        <%= link_to categories_path, class: "readmore pull-left" do %>
          <%= t "view.see_more" %>
          <i class="fa fa-angle-right"></i>
        <% end %>
      </div>
    </ul>
  </div>
</aside>
